<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Tracker</a>
</nav>
<div class="container">
  <div class="row p-20">
    <div class="col-md-9">
      <h3>Map <small *ngIf="followedName">{{followedName}}</small></h3>
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="14">
        <agm-marker *ngFor="let user of users" [latitude]="user.lat" [longitude]="user.lng"></agm-marker>
      </agm-map>
    </div>
    <div class="col-md-3">
      <ul class="list-group bmd-list-group-sm">
        <li class="list-group-item">Driver</li>
        <a *ngFor="let user of users" (click)="followedDriver(user)" href="#" class="list-group-item"><i class="fas fa-user-tie"></i>{{user.name}}</a>
      </ul>
      <button *ngIf="followedName" class="btn btn-block btn-success active" (click)="unFollowed()">Unfolowed</button>
    </div>
  </div>
</div>